<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Reset CSS -->
	<link rel="stylesheet" href="assets/css/reset.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Local CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fresca&display=swap" rel="stylesheet">
	<!-- FontAwesome icons -->
	<script src="https://kit.fontawesome.com/c7bea865a4.js"></script>
	<!-- Favicon -->
	<!-- <link rel="icon" type="image/png" href="assets/images/favicon.ico"> -->
	<title>Burger Time!</title>
</head>

<body>
	{{{ body }}}
</body>
<!-- Local JS -->
<script src="/assets/js/script.js"></script>

</html>